.container {
   /* Set your desired background color */
    text-align: center; /* Center the content horizontally within the container */
    padding: 20px; /* Add some padding around the container */
    width: 400px; /* Set the fixed width for the container */
    height: 600px; /* Set the fixed height for the container */
    display: flex; /* Use flexbox to align image and content */
    flex-direction: column; /* Stack image and content vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color:lightseagreen;
}
.image {
    width: auto; /* Allow the image to adjust its width to fit the container */
    height: auto; /* Allow the image to adjust its height to fit the container */
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
}


.image-wrapper {
    max-width: 100%; /* Allow the image to take the full width of the container */
    overflow: hidden; /* Hide any overflow of the image */
}


.Content {
    margin-top: 20px; /* Add some space between the image and content */
}
/* Style the button */
.add-button{
    background-color: blueviolet;
    color: gold;
}
.add-button:hover{
    background-color: green;
}
